<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: ddrshead">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <h2 class="dariah-color-text text-center" th:text="#{page.admin.translations}">Translations</h2>
        <h3 class="dariah-color-text text-center" th:text="#{page.admin.questions}">Questions</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>English translations</th>
                    <th>German translations</th>
                    <th>French translations</th>
                    <th>Dutch translations</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="question : ${questions}">
                    <form method="post" action="#" th:action="@{/admin/saveTranslation}">
                        <tr th:id="${question.getTranslation().getId()}">
                            <td><input type="text" name="english" class="form-control" th:value="${question.getTranslation().getEn()}"/></td>
                            <td><input type="text" name="german" class="form-control" th:value="${question.getTranslation().getDe()}"/></td>
                            <td><input type="text" name="french" class="form-control" th:value="${question.getTranslation().getFr()}"/></td>
                            <td><input type="text" name="dutch" class="form-control" th:value="${question.getTranslation().getNl()}"/></td>
                            <td>
                                <input type="hidden" name="translationId" th:value="${question.getTranslation().getId()}"/>
                                <button type="submit" class="form-control btn btn-success" th:text="#{ddrs.btn.save}"></button>
                            </td>
                        </tr>
                    </form>
                    <form method="post" action="#" th:action="@{/admin/saveTranslation}">
                        <tr th:id="${question.getTooltip().getId()}">
                            <td><input type="text" name="english" class="form-control" th:value="${question.getTooltip().getEn()}"/></td>
                            <td><input type="text" name="german" class="form-control" th:value="${question.getTooltip().getDe()}"/></td>
                            <td><input type="text" name="french" class="form-control" th:value="${question.getTooltip().getFr()}"/></td>
                            <td><input type="text" name="dutch" class="form-control" th:value="${question.getTooltip().getNl()}"/></td>
                            <td>
                                <input type="hidden" name="translationId" th:value="${question.getTooltip().getId()}"/>
                                <button type="submit" class="form-control btn btn-success" th:text="#{ddrs.btn.save}"></button>
                            </td>
                        </tr>
                    </form>
                </th:block>
            </tbody>
        </table>

        <h3 class="dariah-color-text text-center" th:text="#{page.admin.results}">Results</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>English translations</th>
                    <th>German translations</th>
                    <th>French translations</th>
                    <th>Dutch translations</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="result : ${results}">
                    <form method="post" action="#" th:action="@{/admin/saveTranslation}">
                        <tr th:id="${result.getTranslation().getId()}">
                            <td><input type="text" name="english" class="form-control" th:value="${result.getTranslation().getEn()}"/></td>
                            <td><input type="text" name="german" class="form-control" th:value="${result.getTranslation().getDe()}"/></td>
                            <td><input type="text" name="french" class="form-control" th:value="${result.getTranslation().getFr()}"/></td>
                            <td><input type="text" name="dutch" class="form-control" th:value="${result.getTranslation().getNl()}"/></td>
                            <td>
                                <input type="hidden" name="translationId" th:value="${result.getTranslation().getId()}"/>
                                <button type="submit" class="form-control btn btn-success" th:text="#{ddrs.btn.save}"></button>
                            </td>
                        </tr>
                    </form>
                </th:block>
            </tbody>
        </table>
        <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
</html>