<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{project.ddrs.title}">DDRS</title>
    <link href="../../resources/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../../resources/css/ddrs.css" th:href="@{/css/ddrs.css}" rel="stylesheet" />
    <script src="../../resources/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}" type="text/javascript"></script>
    <script src="../../resources/js/bootstrap.js" th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <h2 class="dariah-color-text text-center" th:text="#{page.index.welcome}"></h2>
        <form class="form-horizontal" method="post" action="#" th:action="@{/refreshResults}" th:object="${searchObject}" id="search_form">
            <th:block th:each="question, iterStat : ${questions}">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label th:for="${'select_' + question.getId()}" for="xxx" class="col-sm-2 control-label" th:text="${question.getTranslation().get(#locale)}">XXX</label>
                    <div class="col-sm-6">
                        <select class="form-control question-select" name="xxx" th:name="${question.getName()}" id="xxx"  th:id="${'select_' + iterStat.index}" multiple="multiple">
                            <th:block th:each="child : ${question.getResultTypeHierarchical().getChildren()}">
                                <option th:value="${child.getCode()}" th:text="${child.getTranslation().get(#locale)}"></option>
                                <option th:each="subChild : ${child.getChildren()}" th:value="${subChild.getCode()}" th:text="${'-- ' + subChild.getTranslation().get(#locale)}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </th:block>
            <div class="form-group">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <button type="submit" id="search" class="btn btn-default" th:text="#{ddrs.btn.search}">Search</button>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </form>

        <div class="row">
            <div class="hidden col-sm-offset-5 col-lg-6" id="loader">
                <img src="../images/page-loader.gif" th:src="@{/images/page-loader.gif}" class="loader_img"/>
            </div>
            <div class="col-sm-offset-2 col-lg-6" id="results"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#search_form").find("[id^='select_']").each(function() {
            $(this).on("change", function(e) {
                ajaxSearch();
            });
        });
        $("#search_form").submit(function(event) {
            event.preventDefault();
            ajaxSearch();
        });
    });

    function ajaxSearch() {
        var data = {};
        var list = {};
        $("#search_form").find("[id^='select_']").each(function() {
            list[$(this).attr('name')] = $(this).val();
        });
        data["searchParameters"] = list;

        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader('X-CSRF-Token', $("input[name='_csrf']").val());
        });
        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : /*[[@{/refreshResults}]]*/ '',
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                display(data);
//                $(elementToShow).parents("div").removeClass("hidden");
            },
            error : function(e) {
                console.log("ERROR: ", e);
                $("#results").text("There was an error, please try again later...");
            },
            complete : function(e) {
                $("#loader").addClass("hidden");
            },
            beforeSend : function(e) {
                $("#results").empty();
                $("#loader").removeClass("hidden");
            }
        });
    }
    function display(data) {
        $(data.repositories).each(function(index) {
            var $clone = createEmptyDivContainer();
            $clone.find(".repository_id_name").text(this.id + " -> " + this.name);
            $clone.find(".repository_url").text(this.link.href);
            if(this.repositoryDetail !== null) {
                $clone.find(".repository_description").text(this.repositoryDetail.description);
                $clone.find(".repository_lastUpdate").text(this.repositoryDetail.lastUpdate);
            }
            $clone.appendTo("#results");
        });

        if(data.code === "204") {
            $("#results").text(data.msg);
        }
    }

    function createEmptyDivContainer() {
        var $div = $("<div>");
        var $divContainer = $("<div>", {"class": "container-fluid"});
        var $divRow = $("<div>", {"class": "row row-bold"});
        var $divCol = $("<div>", {"class": "col-md-12"});
        var $repositoryIdName = $("<p>", {"class": "repository_id_name"});
        var $repositoryDesc = $("<p>", {"class": "repository_description"});
        var $repositoryLastUpdate = $("<p>", {"class": "repository_lastUpdate"});
        var $repositoryUrl = $("<a>", {"class": "repository_url", "href": "#", "target": "_blank"});
        var $divider = $("<div>", {"class": "spacer divider-horizontal"});

        return $div.append($divContainer.append($divRow.append($divCol.append($repositoryIdName))).append($divRow.append($divCol.append($repositoryDesc)))
            .append($divRow.append($divCol.append($repositoryLastUpdate))).append($divCol.append($repositoryUrl))).append($divider);
    }
</script>
</html>