<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        ...
    </head>
    <body>
        <div th:fragment="footer">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 col-xs-3">
                    <a href="http://www.dariah.eu/" target="_blank">
                        <img th:src="@{/images/dariah_Logo_dark.png}" src="#" height="36" width="225"/>
                    </a>
                </div>
                <div class="col-md-2 col-md-offset-1 col-xs-3">
                    <a href="http://has.dariah.eu/" target="_blank">
                        <img th:src="@{/images/has_dariah_colors.png}" src="#" height="36" width="215"/>
                    </a>
                </div>
                <div class="col-md-2 col-md-offset-1 col-xs-3">
                    <a href="http://re3data.org/" target="_blank">
                        <img th:src="@{/images/re3datalogo_black.png}" src="#" height="36" width="122"/>
                    </a>
                </div>
                <div class="col-md-2 col-md-offset-1 col-xs-3">
                    <img th:src="@{/images/flag_yellow_high.jpeg}" src="#" height="36" width="54" title="HaS has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 675570" />
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-md-8 col-xs-10">&copy; 2017 Humanities at Scale</div>
            </div>
        </div>
    </body>
</html>