.dariah-color-text {
    color: rgb(8, 112, 172);
}

.dariah-round-form {
    padding: 10px 10px 30px 10px;
    border-radius: 10px;
}

.dariah-form-border {
    border: 1px solid #A8A8A8;
}

.dariah-color-background {
    background-color: rgb(8, 112, 172);
}

.big-label {
    font-size: 150%;
}

.middle-label {
    font-size: 130%;
}

.white-text {
    color: #FFFFFF;
}

.small-text-80 {
    font-size: 80%;
}

.btn-no-link {
    display: inline-block;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 4px;
    cursor: default;
    color: #333333;
    background-color: #ffffff;
}

.spacer {
    margin-top: 20px;
}
.middle-spacer {
    margin-top: 40px;
}
.bottom-spacer {
    margin-top: 30px;
}
.row-spacer {
    margin-top: 7px;
}

.no-background-addon {
    background-color: inherit;
    border: none;
}
.background-addon {
    background-color: #FFFFFF;
    border-radius: 13px;
    font-size: 1.9em;
}

.divider-horizontal {
    height: 1px;
    width:100%;
    display:block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #000000;
    /*background-color: #9d9d9d;*/
}

.tooltip-inner {
    max-width: 500px;
}

.home:hover {
    background-color: #dddddd !important;
}


.row-bold {
    font-weight: bold;
}

.loader_img {
    max-height: 100px;
}

body {
    margin-top: 100px;
}

.repository_id_name_btn {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.background-green {
    background-color: #77b882;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.background-red {
    background-color: #ad3b28;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.border {
    border:1px solid #0f0f0f;
}
.border-form {
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    border:1px solid rgb(32, 58, 107);
    border-radius: 20px;
}
.btn-drop {
    margin-top: 10px;
}

.ddrstable {
    display: table;
    width: 100%;
    overflow: hidden;
}

.ddrsrow {
    display: table-row;
}
.ddrsrow:hover {
    background-color: #F5F5F5;
}
.ddrscell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.ddrstablebody {
    display: table-row-group;
}
.ddrstablehead {
    background-color: #eeeeee;
    display: table-header-group;
    font-weight: bold;
}