<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: ddrshead">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Static header</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
    </div>
</nav>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <h2 class="dariah-color-text">About the Data Deposit Recommendation Service</h2>
            <p class="middle-label">The DDRS is an online service for humanities researchers that identifies suitable research data repositories, using Re3data.org (Registry of Research Data Repositories: (www.re3data.org/). The DDRS recommends suitable repositories based on the EU country and (sub-)discipline of the researcher. It further applies filters to the re3data registry, such as the possibility to upload data and the provision of persistent identifiers to make the data citable and findable.</p>
            <div class="spacer"></div>
            <p class="middle-label">The user can leave the DDRS with a concise list of research data repositories (for example to use in their data management plan) or they can proceed to initiate the data deposit process, either by contacting/ uploading to the repository directly, or by using the DDRS contact form to forward the request with a data description to the repository.</p>
            <div class="spacer"></div>
            <p class="middle-label">The DDRS is a result of the DARIAH-EU Humanities at Scale project (http://has.dariah.eu/), with one of its aims to promote Open Science by providing services to humanities researchers. An important part of Open Science is the sharing and reuse of research data. By providing the DDRS as a user-friendly service to identify suitable data repositories, we aim to facilitate the process of sharing data for researchers.</p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
    });
</script>
</html>