<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: ddrshead">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Static header</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
    </div>
</nav>
<div id="page-wrapper">
    <h2 class="dariah-color-text text-center" th:text="${repository.repositoryName}"></h2>
    <div class="container-fluid">
        <form class="form-horizontal" method="post" action="#" th:action="@{/sendResults}" id="contact_form">
            <div class="form-group">
                <div class="row row-spacer">
                    <h4 class="col-md-8 col-md-offset-2 text-center" th:text="#{ddrs.label.repository.submit.information}"></h4>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="name" th:text="#{ddrs.label.user.name} + '*'"></label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="name" type="text" name="name" size="64" th:placeholder="#{ddrs.label.user.name.placeholder}" required="required" />
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="institution" th:text="#{ddrs.label.user.institution}"></label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="institution" type="text" name="institution" size="64" th:placeholder="#{ddrs.label.user.institution.placeholder}" />
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="email" th:text="#{ddrs.label.user.email} + '*'"></label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="email" type="text" name="email" size="64" th:placeholder="#{ddrs.label.user.email.placeholder}" required="required" />
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="spacer"></div>

                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="dataType" th:text="#{ddrs.label.user.data.type}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-unstyled">
                            <select class="form-control" id="dataType" name="dataType">
                                <option value="---">---</option>
                                <option value="Archived data">Archived data</option>
                                <option value="Audiovisual data">Audiovisual data</option>
                                <option value="Configuration data">Configuration data</option>
                                <option value="Databases">Databases</option>
                                <option value="Images">Images</option>
                                <option value="Networkbased data">Networkbased data</option>
                                <option value="Plain text">Plain text</option>
                                <option value="Raw data">Raw data</option>
                                <option value="Scientific and statistical data formats">Scientific and statistical data formats</option>
                                <option value="Software applications">Software applications</option>
                                <option value="Source code">Source code</option>
                                <option value="Standard office documents">Standard office documents</option>
                                <option value="Structured graphics">Structured graphics</option>
                                <option value="Structured text">Structured text</option>
                                <option value="other">Other</option>
                            </select>
                            <span class="input-group-addon no-background-addon">
                                <i class="glyphicon glyphicon-question-sign background-addon" data-html="true" data-toggle="tooltip" th:title="#{ddrs.label.user.data.type.tooltip}"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="fileFormat" th:text="#{ddrs.label.user.formats}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-unstyled">
                            <input class="form-control" id="fileFormat" type="text" name="fileFormat" size="64" th:placeholder="#{ddrs.label.user.formats.placeholder}" />
                            <span class="input-group-addon no-background-addon">
                                <i class="glyphicon glyphicon-question-sign background-addon" data-html="true" data-toggle="tooltip" th:title="#{ddrs.label.user.formats.tooltip}"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="metadataFormat" th:text="#{ddrs.label.user.metadata.format}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-unstyled">
                            <select class="form-control" id="metadataFormat" name="metadataFormat">
                                <option value="---">---</option>
                                <option value="ABCD - Access to Biological Collection Data">ABCD - Access to Biological Collection Data</option>
                                <option value="AVM - Astronomy Visualization Metadata">AVM - Astronomy Visualization Metadata</option>
                                <option value="CF (Climate and Forecast) Metadata Conventions">CF (Climate and Forecast) Metadata Conventions</option>
                                <option value="CIF - Crystallographic Information Framework">CIF - Crystallographic Information Framework</option>
                                <option value="CIM - Common Information Model">CIM - Common Information Model</option>
                                <option value="DCAT - Data Catalog Vocabulary">DCAT - Data Catalog Vocabulary</option>
                                <option value="DDI - Data Documentation Initiative">DDI - Data Documentation Initiative</option>
                                <option value="DIF - Directory Interchange Format">DIF - Directory Interchange Format</option>
                                <option value="Darwin Core">Darwin Core</option>
                                <option value="DataCite Metadata Schema">DataCite Metadata Schema</option>
                                <option value="Dublin Core">Dublin Core</option>
                                <option value="EML - Ecological Metadata Language">EML - Ecological Metadata Language</option>
                                <option value="FGDC/CSDGM - Federal Geographic Data Committee Content Standard for Digital Geospatial Metadata">FGDC/CSDGM - Federal Geographic Data Committee Content Standard for Digital Geospatial Metadata</option>
                                <option value="FITS - Flexible Image Transport System">FITS - Flexible Image Transport System</option>
                                <option value="Genome Metadata">Genome Metadata</option>
                                <option value="ISA-Tab">ISA-Tab</option>
                                <option value="ISO 19115">ISO 19115</option>
                                <option value="International Virtual Observatory Alliance Technical Specifications">International Virtual Observatory Alliance Technical Specifications</option>
                                <option value="MIBBI - Minimum Information for Biological and Biomedical Investigations">MIBBI - Minimum Information for Biological and Biomedical Investigations</option>
                                <option value="OAI-ORE - Open Archives Initiative Object Reuse and Exchange">OAI-ORE - Open Archives Initiative Object Reuse and Exchange</option>
                                <option value="PROV">PROV</option>
                                <option value="RDF Data Cube Vocabulary">RDF Data Cube Vocabulary</option>
                                <option value="Repository-Developed Metadata Schemas">Repository-Developed Metadata Schemas</option>
                                <option value="SDMX - Statistical Data and Metadata Exchange">SDMX - Statistical Data and Metadata Exchange</option>
                                <option value="other">Other</option>
                            </select>
                            <span class="input-group-addon no-background-addon">
                                <i class="glyphicon glyphicon-question-sign background-addon" data-html="true" data-toggle="tooltip" th:title="#{ddrs.label.user.metadata.format.tooltip}"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="dataAccess" th:text="#{ddrs.label.user.data.access}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-unstyled">
                            <select class="form-control" id="dataAccess" name="dataAccess">
                                <option value="---">---</option>
                                <option value="closed">Closed</option>
                                <option value="embargoed">Embargoed</option>
                                <option value="open">Open</option>
                                <option value="restricted">Restricted</option>
                            </select>
                            <span class="input-group-addon no-background-addon">
                                <i class="glyphicon glyphicon-question-sign background-addon" data-html="true" data-toggle="tooltip" th:title="#{ddrs.label.user.data.access.tooltip}"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-2"></div>
                    <div class="col-md-2 row-bold">
                        <label class="control-label" for="description" th:text="#{ddrs.label.user.description} + '*'"></label>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" id="description" name="description" rows="4" th:placeholder="#{ddrs.label.user.description.placeholder}" required="required"></textarea>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <!--<div class="row row-spacer">-->
                    <!--<div class="col-md-4"></div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="g-recaptcha" data-sitekey="6LewKC4UAAAAAFyFKrBmapTsObI74oUUMGBWPdsE"></div>-->
                    <!--</div>-->
                    <!--<div class="col-md-2"></div>-->
                <!--</div>-->
                <div class="row row-spacer">
                    <div class="col-md-3 col-md-offset-4">
                        <a class="btn btn-warning btn-block back" th:href="@{/selectRepository(id=${repository.identifier.re3data})}" th:text="#{ddrs.btn.back.repository}">Back</a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block form-control" id="submit" name="submit" th:text="#{ddrs.btn.send}">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
</script>
</html>