<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: ddrshead">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <h2 class="dariah-color-text text-center" th:text="#{page.index.welcome}"></h2>
                <h3 class="text-center">
                    <span th:text="#{page.index.introduction.part1}"></span>
                    <span class="dariah-color-text" th:text="#{page.index.introduction.part2}"></span>
                    <span th:text="#{page.index.introduction.part3}"></span>
                    <span class="dariah-color-text" th:text="#{page.index.introduction.part4}"></span>
                    <span th:text="#{page.index.introduction.part5}"></span>
                    <span class="dariah-color-text" th:text="#{page.index.introduction.part6}"></span>
                    <span th:text="#{page.index.introduction.part7}"></span>
                </h3>
                <h3 class="text-center">
                    <span th:text="#{page.index.introduction.part8}"></span>
                </h3>
            </div>
        </div>
        <div class="spacer"></div>
        <form class="form-horizontal dariah-color-form" method="post" action="#" th:action="@{/refreshResults}" th:object="${searchObject}" id="search_form">
            <th:block th:each="question, iterStat : ${questions}">
                <div class="middle-spacer"></div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                        <label th:for="${'select_' + question.getId()}" for="xxx" class="control-label white-text big-label" th:text="${question.getTranslation().get(#locale)}">XXX</label>
                        <div class="input-group input-group-unstyled">
                            <select class="form-control question-select" name="xxx" th:name="${question.getName()}" id="xxx"  th:id="${'select_' + iterStat.index}">
                                <option value="">Select one</option>
                                <th:block th:each="child : ${question.getResultTypeHierarchical().getChildren()}">
                                    <option th:value="${child.getCode()}" th:text="${child.getTranslation().get(#locale)}"></option>
                                    <option th:each="subChild : ${child.getChildren()}" th:value="${subChild.getCode()}" th:text="${'-- ' + subChild.getTranslation().get(#locale)}"></option>
                                </th:block>
                            </select>
                            <span class="input-group-addon no-background-addon"><!--th:if="question has tooltip"-->
                                <i class="glyphicon glyphicon-question-sign background-addon" data-toggle="tooltip" data-original-title="Some information to the user in order to understand what this field search is gonna do..."></i>
                            </span>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="bottom-spacer"></div>
        </form>
        <div class="spacer"></div>
        <div class="row">
            <div class="hidden col-md-offset-5 col-lg-6" id="loader">
                <img src="../images/page-loader.gif" th:src="@{/images/page-loader.gif}" class="loader_img"/>
            </div>
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="results"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        bindIndexPage(/*[[@{/refreshResults}]]*/ '',
                /*[[@{/selectRepository}]]*/ '',
                /*[[#{ddrs.label.select}]]*/ '');
    });
</script>
</html>