<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: ddrshead">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <h2 class="dariah-color-text text-center" th:text="#{page.index.welcome}"></h2>
        <form class="form-horizontal" method="post" action="#" th:action="@{/refreshResults}" th:object="${searchObject}" id="search_form">
            <th:block th:each="question, iterStat : ${questions}">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label th:for="${'select_' + question.getId()}" for="xxx" class="col-sm-2 control-label" th:text="${question.getTranslation().get(#locale)}">XXX</label>
                    <div class="col-sm-6">
                        <select class="form-control question-select" name="xxx" th:name="${question.getName()}" id="xxx"  th:id="${'select_' + iterStat.index}" multiple="multiple">
                            <th:block th:each="child : ${question.getResultTypeHierarchical().getChildren()}">
                                <option th:value="${child.getCode()}" th:text="${child.getTranslation().get(#locale)}"></option>
                                <option th:each="subChild : ${child.getChildren()}" th:value="${subChild.getCode()}" th:text="${'-- ' + subChild.getTranslation().get(#locale)}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </th:block>
            <div class="form-group">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <button type="submit" id="search" class="btn btn-default" th:text="#{ddrs.btn.search}">Search</button>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </form>

        <div class="row">
            <div class="hidden col-sm-offset-5 col-lg-6" id="loader">
                <img src="../images/page-loader.gif" th:src="@{/images/page-loader.gif}" class="loader_img"/>
            </div>
            <div class="col-sm-offset-2 col-lg-6" id="results"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        bindIndexPage();
    });
</script>
</html>