<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{project.ddrs.admin}">Admin</title>
    <link href="../../../resources/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../../../resources/css/ddrs.css" th:href="@{/css/ddrs.css}" rel="stylesheet" />
    <script src="../../../resources/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}" type="text/javascript"></script>
    <script src="../../../resources/js/bootstrap.js" th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <h2 class="dariah-color-text text-center" th:text="#{page.admin.questions}">Questions</h2>
        <th:block th:each="question : ${questions}">
            <form class="form-horizontal" method="post" action="#" th:action="@{/admin/saveQuestion}" th:object="${question}" id="question_form">
                <input type="hidden" name="questionId" th:value="${question.getId()}" />
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label th:for="${'select_' + question.getId()}" for="xxx" class="col-sm-2 control-label" th:text="${question.getTranslation().get(#locale)}">XXX</label>
                    <div class="col-sm-6" th:classappend="${question.getInUse()} ? 'background-green' : 'background-red'">
                        <select class="form-control question-select" name="select_question" id="xxx"  th:id="${'select_' + question.getId()}" size="7" th:disabled="${! question.getEditable()}">
                            <th:block th:each="child : ${question.getResultTypeHierarchical().getChildren()}">
                                <option th:value="${child.getId()}" th:text="${child.getTranslation().get(#locale) + ' (' + child.getCode() + ')'}"></option>
                                <option th:each="subChild : ${child.getChildren()}" th:value="${subChild.getId()}" th:text="${'-- ' + subChild.getTranslation().get(#locale) + ' (' + subChild.getCode() + ')'}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <th:block th:if="${question.getEditable()}">
                            <button type="submit" th:id="${'btn_add_' + question.getId()}" class="btn btn-default btn-block btn_add" onclick="linkToModal('#modal_2');" th:onclick="'linkToModal(\'' + ${question.getId()} + '\');'" th:text="#{ddrs.btn.add}">Add</button>
                            <button type="submit" name="action" value="delete" th:id="${'btn_delete_' + question.getId()}" class="btn btn-default btn-block" disabled="disabled" th:text="#{ddrs.btn.delete}">Delete</button>
                        </th:block>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="qu_top" th:id="${'qu_top_' + question.getId()}" class="btn btn-block" th:title="#{ddrs.btn.top}"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-up"></span></button>
                        <button type="submit" name="action" value="qu_up" th:id="${'qu_up_' + question.getId()}" class="btn btn-block" th:title="#{ddrs.btn.up}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                        <button type="submit" name="action" value="qu_down" th:id="${'qu_down_' + question.getId()}" class="btn btn-block" th:title="#{ddrs.btn.down}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                        <button type="submit" name="action" value="qu_bottom" th:id="${'qu_bottom_' + question.getId()}" class="btn btn-block" th:title="#{ddrs.btn.bottom}"><span class="glyphicon glyphicon-arrow-down"></span><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                </div>

                <div class="form-group" th:if="${question.getEditable()}">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="top" th:id="${'btn_top_' + question.getId()}" class="btn btn-default btn-block" disabled="disabled" th:title="#{ddrs.btn.top}"><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-up"></span></button>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="up" th:id="${'btn_up_' + question.getId()}" class="btn btn-default btn-block" disabled="disabled" th:title="#{ddrs.btn.up}"><span class="glyphicon glyphicon-arrow-up"></span></button>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="down" th:id="${'btn_down_' + question.getId()}" class="btn btn-default btn-block" disabled="disabled" th:title="#{ddrs.btn.down}"><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="bottom" th:id="${'btn_bottom_' + question.getId()}" class="btn btn-default btn-block" disabled="disabled" th:title="#{ddrs.btn.bottom}"><span class="glyphicon glyphicon-arrow-down"></span><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <button th:if="${question.getInUse()}" type="submit" name="action" value="inuse" th:id="${'in_use_' + question.getId()}" class="btn btn-block btn-warning" th:text="#{ddrs.btn.dont.use}">XYX</button>
                        <button th:unless="${question.getInUse()}" type="submit" name="action" value="inuse" th:id="${'in_use_' + question.getId()}" class="btn btn-block btn-success" th:text="#{ddrs.btn.use}">XYX</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>
        </th:block>

        <form class="form-horizontal" method="post" action="#" th:action="@{/admin/addQuestion}" id="create_form">
            <div class="divider-horizontal"></div>
            <div class="form-group">
                <h3 class="dariah-color-text text-center" th:text="#{ddrs.new.question}">Create a new Question:</h3>
            </div>
            <div class="form-group">
                <div class="col-sm-1"></div>
                <label for="add_question" class="col-sm-2 control-label" th:text="#{ddrs.filter.name.question}">What is the RE3DATA filter name (ex: "countries")?</label>
                <div class="col-sm-2">
                    <input id="add_question" class="form-control" name="name" type="text" maxlength="255"/>
                </div>

                <label for="add_translation" class="col-sm-2 control-label" th:text="#{ddrs.question.english.translation}">What is the name of your question?</label>
                <div class="col-sm-2">
                    <input id="add_translation" class="form-control" name="english_translation" type="text" maxlength="255"/>
                </div>

                <div class="col-sm-1">
                    <button type="submit" name="action" value="add" id="add_question_submit" class="btn btn-success btn-block" th:text="#{ddrs.btn.create}">Create</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>

        <!-- Modal -->
        <form class="form-horizontal" method="post" action="#" th:action="@{/admin/saveQuestion}" id="modal_form">
            <div id="modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" th:text="#{ddrs.add.entry}">Add an entry</h4>
                        </div>
                        <div class="modal-body">
                            <label for="modal_code" th:text="#{ddrs.add.code}">Code</label>
                            <input id="modal_code" name="result_code" type="text" maxlength="255"/>
                            <label for="modal_english" th:text="#{ddrs.english.translation}">English translation</label>
                            <input id="modal_english" name="english_translation" type="text" maxlength="255"/>
                            <input id="question_identifier" name="questionId" type="hidden" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="action" value="add" class="btn btn-default btn-primary" th:text="#{ddrs.btn.save}">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{ddrs.btn.close}">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $(".question-select").change(function() {
            changeButtons($(this));
        });
    });

    function changeButtons(selectElement) {
        var $ident = $(selectElement).attr('id').replace("select_", "");
        changeAttr([], ["#btn_delete_" + $ident, "#btn_edit_" + $ident]);
        if($(selectElement).children('option:first-child').is(':selected')) {
            changeAttr(["#btn_top_" + $ident, "#btn_up_" + $ident], ["#btn_down_" + $ident, "#btn_bottom_" + $ident]);
        } else if($(selectElement).children('option:last-child').is(':selected')) {
            changeAttr(["#btn_down_" + $ident, "#btn_bottom_" + $ident], ["#btn_top_" + $ident, "#btn_up_" + $ident]);
        } else if($(selectElement).children('option').is(':selected')) {
            changeAttr([], ["#btn_top_" + $ident, "#btn_up_" + $ident, "#btn_down_" + $ident, "#btn_bottom_" + $ident]);
        }
    }

    function changeAttr(toDisable, toEnable) {
        $.each(toDisable, function(index, value) {
            $(value).attr("disabled", "disabled");
        });
        $.each(toEnable, function(index, value) {
            $(value).removeAttr("disabled");
        });
    }

    function linkToModal(questionId) {
        $("#modal").modal('show');
        event.preventDefault();

        $("#modal_code").val("");
        $("#modal_english").val("");
        $("#question_identifier").val(questionId);
    }
</script>
</html>