<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{project.ddrs.title}">DDRS</title>
    <link href="../../../resources/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../../../resources/css/ddrs.css" th:href="@{/css/ddrs.css}" rel="stylesheet" />
    <script src="../../../resources/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}" type="text/javascript"></script>
    <script src="../../../resources/js/bootstrap.js" th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <h2 class="dariah-color-text text-center" th:text="#{page.index.welcome}"></h2>

        <h4 th:if="${error}" th:text="#{ddrs.label.error.login}">Error login</h4>
        <form action="#" th:action="@{/auth/loginuser}" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label" th:text="#{ddrs.label.username}">Username</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="username" id="username" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label" th:text="#{ddrs.label.password}">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="password" id="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="loginbutton">Login</button>
                </div>
            </div>

        </form>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 DDRS static templates</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {

    });
</script>
</html>